<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="shortcut icon" href="https://img.icons8.com/color-glass/48/null/todo-list--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/420c4537ba.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="todo-table">
      <h1>Todo List App</h1>
      <form id="form-group" action="/todo" method="post">
        <input
          type="text"
          name="item"
          id="input-item"
          placeholder="Add new Item..."
          required
        />
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <!-- loop through todos array and render in "li" tag -->
        <% if(todos.length<1){ %>
        <li class="empty-list">No item in todo list</li>
        <%}else{todos.map((v)=>{ %>
        <li class="list-item" id="<%= v._id %>">
          <%= v.item %>
          <i class="fa fa-trash"></i>
        </li>
        <% }) }%>
      </ul>
    </div>
    <script>
      const deleteTodo = document.querySelectorAll(".list-item");
      deleteTodo.forEach((element) => {
        element.addEventListener("click", (e) => {
          const endpoint = `/todo/${element.id}`;
          console.log(endpoint);
          fetch(endpoint, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              window.location.href = data.redirect;
            })
            .catch((err) => {
              console.log(err);
            });
        });
      });
    </script>
  </body>
</html>
